# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/transport-catalogue/.vs/TransportCatalogue/v17/Browse.VC.db-wal
/transport-catalogue/x64/Debug
/transport-catalogue/.vs/TransportCatalogue
/transport-catalogue/TransportCatalogue.vcxproj.user
/transport-catalogue/TransportCatalogue.vcxproj.filters
/transport-catalogue/TransportCatalogue.vcxproj
/transport-catalogue/TransportCatalogue.sln
/transport-catalogue/ cpp-transport-catalogue.vcxproj.user
/transport-catalogue/ cpp-transport-catalogue.vcxproj.filters
/transport-catalogue/ cpp-transport-catalogue.vcxproj
/transport-catalogue/ cpp-transport-catalogue.sln
/transport-catalogue/.vs/ cpp-transport-catalogue/v17
